.todoItem {
  border-bottom: 1px lightgray solid;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  position: relative;

  &:last-of-type {
    border-bottom-width: 0;
  }

  div {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.task {
  margin: 0 2px;
}
.--checked {
  text-decoration: line-through;
  color: gray;
}

.deleteButtonContainer {
  margin-left: auto;
  min-width: 37px;
}
